/* Import normalize stylesheets */
@import "base";
@import "icons";
@import "grid";
@import "global";
@import "helper";


/*******************************
****** FOR REFERENCE ONLY ******
*******************************/
/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}



/****************************
******* Main Styles *********
****************************/

/*
html {
  background-image: url(../images/striped-pattern.png);
  background-repeat: repeat-x;
  background-size: auto 20rem;
  background-color: #EEE;
  text-align: center;
}
html:before {
  position: absolute;
  height: 10rem;
  width: 100%;
  z-index: -1;
  content: "";
  display: block;

}
*/

/*
body {
  background-image: url("../images/bg-main.png");
  background-repeat: no-repeat;
  background-position: center top;
  //background-size: 65rem;
  background-size: 65rem;
  color: #333;
}

@media screen and (min-width: 40rem) {
  body {
    
  }
}
*/

html, body {
}

body {
 //overflow-x: hidden;
 min-width: 30rem;
 width: auto !important;
}

h1, h2, h3, h4, h5, h6, p {

}
.text-large {

}
.text-larger {

}
.text-largest {

}

.intro {
  text-align: center;
  //min-height: 10rem;
  //outline: 1px solid red;
  margin: 2rem 0;
}

.intro h3, .intro h4 {
   color: #828282; 
   font-weight: normal;
}


@media screen and (min-width: 40rem) {
  .intro {
   // min-height: 15rem;
  }
}

.monitor-content {
/*  
  background-image: url("../images/bg-monitor.png");
  background-repeat: no-repeat;
  background-size: 40rem;
  background-position: left top;
  width: 100%;
  margin-left: auto;
  margin-right: auto;   
  margin-top: -5rem;
  padding-top: 6rem;
  padding-right: 7rem;
  padding-left: 1rem;
 // margin-right: -5rem; 
*/ 
}
.monitor-content {
  position: relative;
  overflow: visible;
  z-index: 0;
}
.monitor-content .monitor-img {
  /* position: absolute; */
  margin-top: -12%;
  padding-left: 10%;
  margin-right: -10%;
  width: 100%;
}


.monitor-content .monitor-inner {
    position: absolute;
    top: 10%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 26%;
    badding-bottom: 0;
    z-index: 1;
}

.monitor-content .logo {
  max-width: 25rem;
  margin: 0 auto 1rem auto;
  display: block;
}

.intro .typewriter h4 {
  font-size: 1rem;
}

.cursor {
  border-right: .2rem solid #FFF;
  animation: caret 1s steps(1) infinite;
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media screen and (min-width: 0rem) and (max-width: 40rem) {

}

.outtro {

}


@media print,
screen and (min-width: 40em) {


}

@media print,
screen and (min-width: 64em) {


}
